<!DOCTYPE html>
<html lang="zxx">


<!-- Mirrored from innovationplans.com/wavo3/blog-details by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Feb 2021 11:53:37 GMT -->
<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="HTML5 Template Kono onepage themeforest" />
    <meta name="description" content="Kono - Onepage Multi-Purpose HTML5 Template" />
    <meta name="author" content="" />

    <!-- Title  -->
    <title>soulinsights</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&amp;display=swap" rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="/css/plugins.css" />

    <!-- Core Style Css -->
    <link rel="stylesheet" href="/css/style.css" />

</head>

<body class="light">

    <!-- ==================== Start Loading ==================== -->

    <div id="preloader">
        <div class="loading-text">Loading</div>
    </div>

    <!-- ==================== End Loading ==================== -->


    <!-- ==================== Start progress-scroll-button ==================== -->

    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- ==================== End progress-scroll-button ==================== -->


 <!-- ==================== Start Navgition ==================== -->

 <div id="navi" class="topnav">
    <div class="container-fluid">
        <div class="logo">
            <a href="/">
                <p class="logo-text"> SOUL - A HUMAN Insights Studio</p></a>
        </div>
        <div class="menu-icon">
            <span class="icon">
                <i></i>
                <i></i>
            </span>
            <span class="text" data-splitting>Menu</span>
        </div>
    </div>
</div>

<div class="hamenu">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8">
                <div class="menu-links">
                    <ul class="main-menu">
                        <li>
                            <div class="o-hidden">
                            <a href="/">    <span class="link dmenu"><span class="nm">01.</span>Home 
                                </span></a>
                            </div>
                            
                        </li>
                        <li>
                            <div class="o-hidden">
                                <a href="about" class="link"><span class="nm">02.</span>Our Story</a>
                            </div>
                        </li>
                    
                        <li>
                            <div class="o-hidden">
                               <a href="./genises"> <span class="link dmenu"><span class="nm">03.</span>Genesis of B(E)ING</a>
                                      
                            </div>
                        
                        </li>
                        <li>
                            <div class="o-hidden">
                               <a href="/blog"><span class="link dmenu">
                                    <span class="nm">04.</span>Blogs </span>
                                    </a>  
                                      
                            </div>
                        </li>
                         <li>
                            <div class="o-hidden">
                                <a href="./contact"><span class="link dmenu">
                                    <span class="nm">05.</span>Contact </span>
                                    </a>        
                            </div>
                        </li>

                      
                     
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="cont-info">
                    <div class="item">
                        <h6>Phone :</h6>
                        <p>0120-6646911</p>
                    </div>
                    <div class="item">
                        <h6>Address :</h6>
                        <p>
                            C3-2602 ,
                            Cleo county, 
                            Noida ,
                            sector 121, 
                            UP 201307
                        </p>
                    </div>
                    <div class="item">
                        <h6>Email :</h6>
                        <p>quest@soulinsights.studio</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ==================== End Navgition ==================== -->


    <!-- ==================== Start wrapper ==================== -->

    <div class="wrapper">


        <!-- ==================== Start Header ==================== -->

        <section class="page-header blg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-9">
                        <div class="cont text-center">
                            <h2>Build a Beautiful Blog With Ease</h2>
                            <div class="info">
                                <p><a href="#0"><%=blog.authorName%>
                                </a>/<a href="#0"><%=blog.month%> <%=blog.day%></a><a href="#0"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ==================== Start Header ==================== -->



        <!-- ==================== Start Blog ==================== -->

        <section class="blog-pg single section-padding pt-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-11">
                        <div class="post">
                            <div class="img bg-img parallaxie bg-image-size"
                             data-background="<%=blog.thumbImage%>"></div>
                           
                            <div class="content pt-20">
                                <div class="row justify-content-center">
                                    <div class="col-lg-10">
                                        <div class="cont">
                                            <div class="spacial">
                                                <h2><%=blog.heading.toUpperCase()%></h2>
                                                <br>
                                                <br>
                                            </div>
                                           

                                    <div id='blogContent'>

                                        </div>
                                        <div class="author row">
                                            <div class="author-img  m-auto col-6 col-md-4">
                                                <img src="<%=blog.authorImage%>" alt="">
                                            </div>
                                            <div class="info col-12 col-md-8">
                                                <h6><span>author :</span> <%=blog.authorName%></h6>
                                                <p>the main component of a healthy environment for self esteem is that
                                                    it needs be nurturing. The main compont of a healthy environment.
                                                </p>
                                                <div class="social">
                                                    <a href="#0"><i class="fab fa-facebook-f"></i></a>
                                                    <a href="#0"><i class="fab fa-twitter"></i></a>
                                                    <a href="#0"><i class="fab fa-behance"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ==================== End Blog ==================== -->



        <!-- ==================== Start footer-sm ==================== -->

        <footer class="footer-sm">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-4">
                        <div class="left">
                            <p>All right reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8">
                        <div class="right">
                            <p>© 2021, Soulinsights. Made with passion by The Brandwick </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer> 

        <!-- ==================== End footer-sm ==================== -->


    </div>

    <!-- ==================== End wrapper ==================== -->



    <!-- ==================== Start cursor ==================== -->

    <div class="cursor"></div>
    <div class="cursor2"></div>

    <!-- ==================== End cursor ==================== -->




    <!-- jQuery -->
    <script src="/js/jquery-3.0.0.min.js"></script>
    <script src="/js/jquery-migrate-3.0.0.min.js"></script>

    <!-- plugins -->
    <script src="/js/plugins.js"></script>

    <!-- custom scripts -->
    <script src="/js/scripts.js"></script>

<script>
	console.log('hello')
let postCol=document.getElementById('blogContent')
let a=$.parseHTML('<%=blog.content%>');
let b=a[0].data
postCol.innerHTML=b
console.log(a[0].data)
</script>
</body>


<!-- Mirrored from innovationplans.com/wavo3/blog-details by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Feb 2021 11:53:44 GMT -->
</html>