<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
    <link rel="icon" href="./assets/images/favicon.png" type="image/gif" sizes="16x16">

<title>Admin Panel</title>
<!-- Bootstrap core CSS -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&amp;display=swap" rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="/css/plugins.css" />

    <!-- Core Style Css -->
    <link rel="stylesheet" href="/css/style.css" />
<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/assets/css/style.css" rel="stylesheet" />
  <link href="/assets/css/footer.css" rel="stylesheet" />
  <link href="/assets/css/navbar.css" rel="stylesheet" />
  <link href="/assets/css/team.css" rel="stylesheet" />
  <link href="/assets/css/work.css" rel="stylesheet" />
<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<base href='/'>

<br>
<div class="container  ">
	<div class="mainheading mt-4 ml-4">
		<h1 class="sitetitle">Welcome Admin Edit</h1>
		<input class='d-none' id='blogid' value='<%=blog._id%>'/>
	</div>
<!-- End Nav
================================================== -->

<!-- Begin Article
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-md-2 col-xs-12">
		</div>

		<!-- Begin Post -->
		<div class="col-md-8 col-md-offset-2 col-xs-12 ">
		 <div class="card card-body " style='border:none;' >
		  <div class='m-2 p-3'>
		  <img src='<%=blog.thumbImage%>' id='thumbImageSrc'/>
			<input type="file" required id='thumbImage' name="avatar" >
		  </div>
		 <div class='m-2 p-3'>
<label class='label-blog'>Title</label>
		  <input required class='input-blog' 
		  value="<%=blog.heading%>"  name='heading' id='heading' placeholder='Title' >  <br>
		 </div>
		 <div class='m-2 p-3'>
<label class='label-blog'>Description</label>
		  <input class='input-blog'
		  value="<%=blog.shortContent%>"  name='shortContent' id="shortContent" placeholder='Short Description of your blog' >  <br>
		 </div>
		
		  <div class='m-2 p-3'>
			<div class='container text-center border p-3'>
			 <img src='<%=blog.mainHeaderImage%>' id='mainHeaderImageSrc'/>
			</div>
			<input type="file" id='mainHeaderImage' required name="avatar" >
		  </div>
		  	 <div class='m-2 p-3'>
<label class='label-blog'>Author Name</label>
		  <input class='input-blog' name='authorName'
		   id="authorName"
		   
		    value="<%=blog.authorName%>" placeholder='Author Name' >  <br>
		 </div>
		 <div class='m-2 p-3'>
<label class='label-blog'>Author Description</label>
		  <input class='input-blog' name='authorDesc'
		   id="authorDesc" value="<%=blog.authorDesc%>"  placeholder='Author Description' >  <br>
		 </div>
		 <div class='m-2 p-3'>
<label class='label-blog'>Facebook <label style='color:grey'> (Optional)</label></label>
		  <input class='input-blog' name='fb'
		   id="fb" value="<%=blog.socialAcc.fb%>"  placeholder='fb' >  <br>
		 </div>
		 <div class='m-2 p-3'>
<label class='label-blog'>Twitter <label style='color:grey'> (Optional)</label></label>
		  <input class='input-blog' name='fb'
		   id="twitter" value="<%=blog.socialAcc.twitter%>" placeholder='twitter' >  <br>
		 </div><div class='m-2 p-3'>
<label class='label-blog' value="<%=blog.socialAcc.linkendin%>">Linkendin <label style='color:grey'> (Optional)</label></label>
		  <input class='input-blog' name='fb'
		   id="linkendin" placeholder='Linkendin' >  <br>
		 </div>
	  <div class='m-2 p-3'>
		<div class='row'>
		<div class='col-4'>
			 <img src='<%=blog.authorImage%>' id='authorImageSrc'/>
			</div>
			<div class='col-4'>
			<input type="file" required name="avatar" id='authorImage'  >
			</div>
		  </div>
		  </div>
			  <div >
        <br>  
			  <div class='m-2 p-2 text-center'>
			  <label class='label-blog'>Blog Post:</label>
        <div style="height:30px;paddding:10px; margin:auto">
			  <input  id="editor" name='content' > 
			  <div class='m-2 p-2'>
		<button id='submitToCloud' class="btn-curve mt-2 rounded-pill">
		<span>
		Submit
		</span></button>
        </div>
        </div>
			  </div>
			</div> <br>
		
	</div>
			
     




</div>
<!-- End Article
================================================== -->


<!-- End Nav
================================================== -->

<!-- Begin Article
================================================== -->


		<!-- Begin Post -->
		
<!-- End Article
================================================== -->

<div class="hideshare"></div>

<!-- Begin Related
================================================== -->
</div>


</body>
<script src="/assets/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="/assets/js/bootstrap.min.js"></script>
   <script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>

<script src="/assets/js/mediumish.js"></script>
<script src="./js/edit.js"></script>
<script>

	let editor;
ClassicEditor
    .create( document.querySelector( '#editor' ) )
    .then( newEditor => {
        editor = newEditor;
		let a=$.parseHTML('<%=blog.content%>');
		let b=a[0].data
		editor.setData(b)
    } )
    .catch( error => {
        console.error( error );
	} );
 function focusOnHead(){
	let a= document.getElementById('editHeading').focus()
 }
function imageUpload(){
	//console.log('hello')
	document.getElementById('submitButton').click()
	//window.location.reload()
}

function myfunction(id){
		let content = editor.getData()
		let heading=document.getElementById('editHeading').value;
		console.log(heading,content,id)
	//	let shortContent=document.getElementById('shortContent').value;
	 fetch('/blog/editBlog/'+id+'/'+localStorage.getItem('token'), {
			headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    method: "PUT",
    body: JSON.stringify({content: content, heading:heading})
  }).then(function(response) {
  window.location.href='/adminPanel/blog'+localStorage.getItem('token')
    return response.json();
  }).then(function(data) {
	console.log('done')

  });

 	}

if(!localStorage.getItem('token')){
	window.location.href='/'
//	console.log('hello')
}

</script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</html>
